<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DACS1_PJ15_NguyenThiMinhAnh_HuynhVanBao.Properties.Settings.DACSConnectionString"
            connectionString="Data Source=MinhAnh\SQLEXPRESS;Initial Catalog=DA1;User ID=sa;Password=1111;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DACS1_PJ15_NguyenThiMinhAnh_HuynhVanBao.Properties.Settings.DACSConnectionString1"
            connectionString="Data Source=DESKTOP-9DCLD5S\MSSQLEXPRESS2014;Initial Catalog=DACS;Persist Security Info=True;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DACS1_PJ15_NguyenThiMinhAnh_HuynhVanBao.Properties.Settings.QLTCConnectionString"
            connectionString="Data Source=MINHANH\SERVER;Initial Catalog=QLTC;Persist Security Info=True;User ID=sa;Password=1111;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>